# Database
DATABASE_URL="postgresql://johndoe:mypassword@localhost:5432/mydb?schema=public"

# Redis / BullMQ
REDIS_URL="redis://localhost:6379"

# Next Auth (optional if using next-auth)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="supersecret"
